/* ============================= */
/* LARGE TABLETS 1200px */
/* ============================= */

@media (max-width:1200px){

.hero-left h1{
font-size:55px;
}

.skills-section{
flex-direction:column;
text-align:center;
}

.skills-left,
.skills-right{
width:100%;
}

.skills-left{
height:500px;
margin-bottom:40px;
}

.project-container{
grid-template-columns:repeat(2,1fr);
}

}


/* ============================= */
/* TABLETS 900px */
/* ============================= */

@media (max-width:900px){

.nav-links{
display:none;
}

.hero-section{
flex-direction:column;
text-align:center;
}

.hero-left,
.hero-right{
width:100%;
}

.hero-right img{
width:260px;
}

.skills-section{
flex-direction:column;
}

.project-container{
grid-template-columns:1fr;
}

.resume-content{
flex-direction:column;
align-items:center;
}

.contact-section{
flex-direction:column;
}

.contact-left,
.contact-right{
width:100%;
}

}


/* ============================= */
/* MOBILE 600px */
/* ============================= */

@media (max-width:600px){

.hero-left h1{
font-size:40px;
}

.typing-role{
font-size:20px;
}

.hero-left p{
font-size:14px;
}

.primary-btn,
.secondary-btn{
padding:10px 18px;
font-size:14px;
}

.project-heading{
font-size:32px;
}

.skills-right h2{
font-size:32px;
}

.resume-header h2{
font-size:36px;
}

.contact-left h2{
font-size:28px;
}

.hero-right img{
width:200px;
}

.project-img{
height:200px;
}

}


/* ============================= */
/* SMALL PHONES 400px */
/* ============================= */

@media (max-width:400px){

.hero-left h1{
font-size:32px;
}

.typing-role{
font-size:18px;
}

.badge{
font-size:12px;
}

.hero-buttons{
flex-direction:column;
gap:10px;
}

.primary-btn,
.secondary-btn{
width:100%;
text-align:center;
}
@media(max-width:900px){

section{
padding:70px 6%;
}

#home,
#skills,
#project,
#certificates,
#resume,
#contacts{
padding-top:70px;
}

}
}
